{% extends 'analyze_txt/base.html' %}
{% block content %}
{% load crispy_forms_filters %}
    <h1>{{ title }}</h1>
    <br/>
    <form method="POST" action="#">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" name="start" value="start" class="btn btn-warning">Login</button>
    </form>
    <br/>
    <hr/>
    <h1>{{ title2 }}</h1>
    <br/>
    <form method="POST" action="#">
        {% csrf_token %}
        {{ form2|crispy }}
        <br>
        <button type="submit" name="start" value="start" class="btn btn-dark">Register</button>
    </form>
{% endblock %}